body {
    background-image: url(https://mauricioyanes.files.wordpress.com/2011/03/naipes-copy.jpg);
}

#barra_arriba{
    background-color: #424242;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    text-align: center;
    margin-top: -2%;
}

 /*Bienvenido username*/
h4 {
    color: white;
    float: left;
    margin-left: 10px;
    }

 /*Nombre de la Partida en la barra de arriba*/
h5 {
    font-family: cursive;
    color: white;
    display: inline-block;
}

#boton_retirarse {
    border-radius: 3px;
    float :right;
    margin-right: 1%;
    margin-top: 1.7%;
}

#puntajes {
    background-color: #424242;
    border-radius: 10px;
    height: 70px;
    width: 120px;
    float: right;
    text-align: center;
    margin-top: 1%;
    color: white;
}

#mensajes {
    background-color:#424242;
    border-radius: 10px;
    height:120px;
    width: 120px;
    float: right;
    text-align:center;
    color: white;
    margin-top: 1%;
    clear:right;
}

#pantalla_de_juego{
    /*position: absolute;*/
    background-color:#424242;
    border-radius: 10px;
    height:600px;
    width: 90%;
    margin-top: -2%;
    clear:left;
}

#cuadro_cantos_respuestas {
    background-color:#424242;
    border-radius: 10px;
    height:120px;
    width: 120px;
    float: right;
    text-align:center;
    color: white;
    margin-top: 1%;
    clear: right;
}

#cuadro_tu_turno {
    background-color:#424242;
    margin-top: 10%;
    border-radius: 10px;
    height: 20px;
    width: 120px;
    float: right;
    text-align:center;
    color: white;
    clear:right;
}

#par_de_jugadores_uno {
    margin-top: -5%;
    float: left;
    margin-left: 1%;
    display: inline-block;
    height: 95%;
    width: 32%;
    /*border: solid blue 2px;*/
}

#par_de_jugadores_dos {
    margin-top: 1%;
    margin-left: 1%;
    display: inline-block;
    height:95%;
    width: 32%;
}

#par_de_jugadores_tres {
    margin-top: 1%;
    margin-left: 0.5%;
    display: inline-block; 
    height: 95%;
    width: 32%;
}

#jugador_arriba {
    height: 50%;
    /*border: blue solid 1px;*/
}

#jugador_abajo {
    height: 50%;
    /*border: blue solid 1px;*/
}

#cuadro_cartas_arriba {
    text-align: center;
    height: 40%;
    margin-bottom: 1%;
    /*border:blue solid 2px;*/
}

#cuadro_cartas_arriba img {
    height: 100%;
    width: 20%;
    display: inline-block;
}

#cuadro_cartas_abajo {
    text-align: center;
    height: 40%;
    /*border: yellow solid 2px;*/
}

 /*Cuadro de cada carta del usuario, cuando esta en espera */
#cuadro_cartas_abajo img { 
    height: 100%;
    width: 20%;
    display: inline-block;
}

.cuadro_cartas_tiradas {
    height: 60%;
    /*border:red solid 2px;*/
    text-align: center;
}

.cuadro_cartas_tiradas #primera_imagen {
    height: 17%;
    width: 6%;
    position: absolute;
    margin-left: -5%;
}

.cuadro_cartas_tiradas #segunda_imagen {
    height: 17%;
    width: 6%;
    position: absolute;
    margin-left: -2.5%;
    margin-top: 2%;
    z-index:1;
}

.cuadro_cartas_tiradas #tercera_imagen {
    height: 17%;
    width: 6%;
    position: absolute;
    margin-top: 4%;
    z-index:2;
}

#cuadro_cartas_abajo form {
    height: 100%;
    width: 20%;
    display: inline-block;
    /*border: blue solid 2px;*/
}

#cuadro_cartas_abajo form button {
    height: 100%;
    width: 100%;
    display: inline-block;*/
    /*border: yellow solid 2px;*/
}

#cuadro_cartas_abajo form button img {
    border: solid red 3px;
    margin-top: -7%;
    margin-left: -15%;
    height: 105%;
    width: 120%;
}

#cuadro_botones {
    background-color:#424242;
    margin-top: 10%;
    border-radius: 10px;
    width: 120px;
    float: right;
    text-align:center;
    clear:right;
    padding-bottom: 8%;
}

#cantar_puntos {
    padding-bottom: 10%;
}

#puntos_cantados {
    width: 70px;
}

#form_opciones {
    display: block;
    margin-top: 4%;
    /*border: solid red 2px;*/
}

button {
    border-radius: 3px;
}

#cartas_conforman_puntos {
    text-align: center;
    margin-top: -5%;
    height: 30%;
}

#cartas_conforman_puntos img{
    width: 10%;
}