<!DOCTYPE html>
{% extends "truco/partida.html" %}
{% load staticfiles %}
<html>
    <head>
        <title> Ronda </title>
    </head>

    <body>
    {% block mensajes%}
        <div id="cuadro_mensaje_ganador_envido">
            {{mensaje_envido}}
        </div>
        <div id="cuadro_cantos_respuestas">
            {{mensaje_canto}}
        </div>
        <div id="cuadro_puntos_cantados">
            {{mensaje_puntos_cantados}}
        </div>
        <div id="cuadro_turno">
            El turno es de {{jugador_en_turno}}
        </div>
    {% endblock mensajes %}
    {% block pantalla_de_juego %}
        <div id="par_de_jugadores_uno">
            <div id="jugador_arriba">
                <div id="nombre_jugador">
                    {{nombre_jugadores.5}}
                </div>
                <div id="cuadro_cartas_arriba">
                    {% for i in cant_cartas_adversario.4 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%}/>
                    {% endfor %}
                </div>
                <div class="cuadro_cartas_tiradas">
                    {% for carta in cartas_jugadas.5 %}
                        {% if forloop.counter == 1 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div id="jugador_abajo">
                <div class="cuadro_cartas_tiradas">
                    {% for carta in cartas_jugadas.0 %}
                        {% if forloop.counter == 1 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                        {% endif %}
                    {% endfor %}
                </div>

                <div id="cuadro_cartas_abajo">
                    {% for carta in cartas_disponibles %}
                        <img src={% static "truco/images/"%}{{carta}}/>
                    {% endfor %}
                </div>
                <div id="nombre_jugador">
                    {{nombre_jugadores.0}}
                </div>
            </div>
        </div>

        <div id="par_de_jugadores_dos">
            <div id="jugador_arriba">
                <div id="nombre_jugador">
                    {{nombre_jugadores.4}}
                </div>
                <div id="cuadro_cartas_arriba">
                    {% for i in cant_cartas_adversario.3 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%}/>
                    {% endfor %}
                </div>

                <div class="cuadro_cartas_tiradas">
                    {% for carta in cartas_jugadas.4 %}
                        {% if forloop.counter == 1 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="jugador_abajo">
                <div class="cuadro_cartas_tiradas">
                    {% for carta in cartas_jugadas.1 %}
                        {% if forloop.counter == 1 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="cuadro_cartas_abajo">
                    {% for i in cant_cartas_adversario.0 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%}/>
                    {% endfor %}
                </div>
                <div id="nombre_jugador">
                    {{nombre_jugadores.1}}
                </div>
            </div>
        </div>

        <div id="par_de_jugadores_tres">
            <div id="jugador_arriba">
                <div id="nombre_jugador">
                    {{nombre_jugadores.3}}
                </div>
                <div id="cuadro_cartas_arriba">
                    {% for i in cant_cartas_adversario.2 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%}/>
                    {% endfor %}
                </div>

                <div class="cuadro_cartas_tiradas">
                    {% for carta in cartas_jugadas.3 %}
                        {% if forloop.counter == 1 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="jugador_abajo">
                <div class="cuadro_cartas_tiradas">
                    {% for carta in cartas_jugadas.2 %}
                        {% if forloop.counter == 1 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="cuadro_cartas_abajo">
                    {% for i in cant_cartas_adversario.1 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%}/>
                    {% endfor %}
                </div>
                <div id="nombre_jugador">
                    {{nombre_jugadores.2}}
                </div>
            </div>
        </div>
    {% endblock pantalla_de_juego %}
    </body>
</html>
