<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href={% static "style_index.css"%}>
        <title> Truco </title>
    </head>

        <div style="background-color:#424242;
                    border: 2px dashed black;
                    border-radius: 10px;
                    width:400px;
                    margin-left:35%;
                    margin-top:15%;
                    text-align:center;">
                <h2 style="font-family:cursive; color:white;">TRUCO</h2>
                <button type="submit" style="border-radius:3px;"><a href="/usuarios/login">Iniciar Sesion</a></button>
                <p><button type="submit" style="border-radius:3px;"><a href="/usuarios/create_user">Crear nuevo usuario</a></button></p>
        </div>
    <body>

</html>
