<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" href= {% static "style_lobby.css" %}>
        <title> Lobby Truco </title>
    </head>

    <body>
        <div id="barra_arriba">
                <h4>Welcome {{ username }}</h4>
                <h5>TRUCO</h5>
                <button type='button'><a href="/usuarios/logout">Logout</a></button>
        </div>

        <div id="pantalla_medio">
            <form action="{% url 'truco:unirse_partida' %}" method="post">
            {% csrf_token %}
                {% for partida in lista_de_partidas %}
                    <input type="radio" name="partida" id="partida{{ forloop.counter }}" value="{{ partida.id }}" />
                    <label for="partida{{ forloop.counter }}">{{ partida }}</label><br />
                {% endfor %}
                <input type="submit" value="Unirse a Partida" />
            </form>
            <button type="submit"'><a href="/truco/crear_partida"> Crear Partida</a></button>
        </div>
    </body>
</html>
