<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" href= {% static "style_partida.css" %}>
        <title> Lobby Truco </title>
    </head>

    <body>
        <div id="barra_arriba">
                <h4>Welcome {{ username }}</h4>
                <h5>PARTIDA {{ partida }}</h5>
                <button type="submit"><a href="/truco/lobby">Retirarse</a></button>
        </div>

        <div id="pantalla_medio">
            <div id="cuadro_cartas_rival">
                {% for carta in adv_cartas_disponibles%}
                    {% load staticfiles %}
                    <img src={% static "truco/images/cartas/naipe.jpg"%}/>
                {% endfor %}
            </div>

            <div id="cuadro_cartas">
                {% for carta in my_cartas_disponibles%}
                    {% load staticfiles %}
                    <button type="submit"><img src={% static "truco/images/"%}{{carta}}/></button>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
