<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" href= {% static "style_partida.css" %}>
        <title> Lobby Truco </title>
    </head>

    <body>
        <div id="barra_arriba">
                <h4>Welcome {{ username }}</h4>
                <h5>PARTIDA {{ partida }}</h5>
                <button type="submit"><a href="/truco/lobby">Retirarse</a></button>
        </div>

        <div id="pantalla_medio">
            <div id="cuadro_cartas_rival">
                {% for carta in adv_cartas_disponibles %}
                    {% load staticfiles %}
                    {% if forloop.counter == 1 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="primera_imagen"/>
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="segunda_imagen"/>
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="tercera_imagen"/>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="cuadro_cartas_tiradas" id="tiradas_adversario">
                {% for carta in adv_cartas_disponibles %}
                    {% load staticfiles %}
                    {% if forloop.counter == 1 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="primera_imagen"/>
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="segunda_imagen"/>
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="tercera_imagen"/>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="cuadro_cartas_tiradas" id="tiradas_usuario">
                {% for carta in adv_cartas_disponibles %}
                    {% load staticfiles %}
                    {% if forloop.counter == 1 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="primera_imagen"/>
                    {% endif %}
                    {% if forloop.counter == 2 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="segunda_imagen"/>
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        <img src={% static "truco/images/cartas/naipe.jpg"%} id="tercera_imagen"/>
                    {% endif %}
                {% endfor %}
            </div>

            <div id="cuadro_cartas_usuario">
                {% for carta in my_cartas_disponibles %}
                    {% load staticfiles %}
                    <button type="submit"><img src={% static "truco/images/"%}{{carta}}/></button>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
