<!DOCTYPE html>
{% extends "truco/partida.html" %}
{% load staticfiles %}
{% load custom_filters %}
<html>
    <head>
        <title> Ronda </title>
        {% block refresh %}
        {% endblock refresh %}
    </head>

    <body>
    {% block pantalla_de_juego %}
        <div id="cuadro_cartas_rival">
            {% for i in cant_cartas_adversario %}
                <img src={% static "truco/images/cartas/naipe.jpg"%}/>
            {% endfor %}
        </div>

        <div class="cuadro_cartas_tiradas" id="tiradas_adversario">
            {% for carta in cartas_jugadas_adversario %}
                {% if forloop.counter == 1 %}
                    <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                {% endif %}
                {% if forloop.counter == 2 %}
                    <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                {% endif %}
                {% if forloop.counter == 3 %}
                    <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                {% endif %}
            {% endfor %}
        </div>

        <div id="cuadro_botones">
            {% for opcion in opciones %}
            <form action="{% url 'truco:ronda' ronda.id %}" method="post">
            {% csrf_token %}
                <div id="botones_opciones">
                    <button type="submit" name="opcion" value="{{ opcion }}"> {{ op_dict|get_item:opcion}}</button>
                </div>
            </form>
            {% endfor %}
        </div>

        <div class="cuadro_cartas_tiradas" id="tiradas_usuario">
            {% for carta in cartas_jugadas %}
                {% if forloop.counter == 1 %}
                    <img src={% static "truco/images/"%}{{carta}} id ="primera_imagen"/>
                {% endif %}
                {% if forloop.counter == 2 %}
                    <img src={% static "truco/images/"%}{{carta}} id ="segunda_imagen"/>
                {% endif %}
                {% if forloop.counter == 3 %}
                    <img src={% static "truco/images/"%}{{carta}} id ="tercera_imagen"/>
                {% endif %}
            {% endfor %}
        </div>
        <div id="cuadro_cartas_usuario">
            {% for carta in cartas_disponibles %}
            <form method="post">
            {% csrf_token %}
                <button type="submit" name="carta" value="{{carta.id}}" style=""><img src={% static "truco/images/"%}{{carta}}/></button>
            </form>
            {% endfor %}
        </div>
    {% endblock pantalla_de_juego %}
    {% block mensajes%}
        {{ mensaje_envido }}
    {% endblock mensajes %}
    </body>
</html>

