<!DOCTYPE html>
<html>
    <head>
        <title> Registro de Usuario </title>
    </head>

    <body background="https://mauricioyanes.files.wordpress.com/2011/03/naipes-copy.jpg">
        <div style="background-color:#424242;
                    border: 2px dashed black;
                    border-radius: 10px;
                    width:400px;
                    margin-left:35%;">
            <form action="" method="POST" style="color:white; font-size:20px; margin-left:5px;">
                <h3 style="font-family:cursive; text-align:center;">Registro de Usuario</h3>
                {%csrf_token%}
                {{form.as_p}}
                <button type='submit' style="border-radius:3px;display:inline-block;margin-left:24%;margin-bottom:5%;">Crear nuevo usuario</button>
                <button type='button' style="border-radius:3px;display:inline-block;"><a href="/usuarios/login">Login</a></button>
            </form>
        </div>
    <body>

</html>
