/*NO ANDA!*/

body {
    background: "https://mauricioyanes.files.wordpress.com/2011/03/naipes-copy.jpg";
}


div {
    background-color:#424242;
    border: 2px dashed black;
    border-radius: 10px;
    text-align:center;
    
}

/*img {*/
/*	width:100px;*/
/*	height:100px;*/
/*/*	display: block;*/
/*	margin: auto;*/
/*    border-radius:100%;*/
/*}*/


/*table, td {*/
/*	border: 1px #70b8ff dashed;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: #3D59AB;*/
/*    font-family: Verdana, sans-serif;*/
/*    margin:auto*/
/*}*/

/*div2 {*/
/*    border:4px dashed #6495ED;*/
/*    border-radius: 10px;*/
/*    background-color: #BCD2EE;*/
/*    height: 60px;*/
/*    width: 150px;*/
/*    margin: auto;*/
/*}*/


/*span {*/
/*    font-weight: bold;*/
/*    font-size: 30px;*/
/*    color: #ffffff;*/
/*}*/
